@use '../../../styles/abstracts/mixins' as mix;

.post-wrapper {
  display: flex;
  max-width: 128rem;
  margin: auto;
  margin-top: 4rem;
  width: 100%;
  padding: 0 2rem;

  @include mix.mq('(max-width: #{calc(1350 / 16)}em) ') {
  }
  @include mix.mq('(max-width: #{calc(690 / 16)}em) ') {
    padding: 0 1.5rem;
  }

  .right {
    flex: 1;
    max-width: 30rem;
    padding-left: 3rem;

    .user {
      .username {
        font-size: 1.6rem;
        font-weight: 700;
      }

      .about {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }
    }

    @include mix.mq('(max-width: #{calc(1030 / 16)}em) ') {
      display: none;
    }
  }
}

.post-main {
  min-width: 0;
  max-width: 86rem;
  flex: 1;
  margin: auto;
}

.post-header {
  .post-title > h1 {
    font-size: var(--text-size-4xl);
    font-weight: 800;
    line-height: calc(1em + (1 / 2.6 * 1ex));
    margin-block: calc(1 / 2.6 * (1em + 1ex));
    margin-block-end: 0;

    /* @media only screen and (max-width: ${500 / 16}em) { */
    /* font-size: 3rem; */
    /* } */
  }

  .post-image {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 1;
    left: 0;

    & > img {
      object-fit: cover;
      object-position: center;
    }
  }

  .post-tags {
    display: flex;
    gap: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 3rem;
  }
}

.post-meta {
  display: flex;
  align-items: center;
  gap: 3rem;

  .author,
  .published__date,
  .tags {
    display: flex;
    align-items: center;

    & > div {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;

      & > span {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: normal;
      }

      & > .author-name {
        font-weight: 800;
      }
    }
  }

  & > * {
    position: relative;
  }

  & > *:not(:first-child):before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    width: 1px;
    height: 100%;
    background-color: var(--clr-gray-1);
  }
}

.post-content {
  padding: 0 2rem;
  margin-top: 4rem;

  @include mix.mq('(max-width: #{calc(690 / 16)}em) ') {
    padding: 0;
  }

  pre > code {
    display: grid;
    font-size: 1.4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  span[data-line] {
    border-left-width: 2px px;
    border-left-color: #0000;
    /* padding-left: 1.5rem;
    padding-right: 1.5rem; */
  }
  span[data-highlighted-line] {
    margin: 1rem 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: #ffffff40;

    &[data-line]::before {
      color: #fff;
    }
  }
  span[data-highlighted-chars] {
    padding: 0.4rem 0;

    background-color: #ffffff40;
  }

  code {
    counter-reset: line;
  }

  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    display: none;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
  }

  code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
  }
  //   ${SyntaxHighlightStyles};
}
