%themeswitch--light-theme {
  --theme-switch-bg: var(--clr-white-2);
  --theme-switch-handle: var(--clr-white-8);
  --theme-switch-border: var(--clr-gray-1);
}
%themeswitch--dark-theme {
  --theme-switch-bg: var(--clr-gray-7);
  --theme-switch-handle: var(--clr-gray-9);
  --theme-switch-border: var(--clr-gray-3);
}
