@use '../../../styles/abstracts/_mixins.scss' as mix;

.settings {
  padding: 4rem 2rem 0 2rem;
}

.settings__header {
  & > h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--settingspage-header-clr);
  }
}

.settings__nav {
  margin-top: 3.2rem;

  & > ul {
    display: flex;
    gap: 3rem;
    margin-bottom: 8rem;
    border-bottom: 1px solid var(--clr-border);
    padding: 0 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & > ul > li {
    list-style: none;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:first-child {
      border-bottom: 1px solid var(--settingspage-nav-item-border-clr);
    }
    & > button {
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--settingspage-nav-item-clr);
    }
  }
}

//////////////////////////////////////////////////////
////            Settings Item Styles              ////
//////////////////////////////////////////////////////
.settings__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  // margin-top: 2.8rem;
  margin-bottom: 2rem;
  width: 100%;

  & span {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--settingspage-header-clr);
  }
}

////////////////////////////////////////////////////////////
////            Settings Item Label Styles              ////
////////////////////////////////////////////////////////////
.settings__item--label {
  width: 52%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  text-align: start;

  &-description {
    & > span {
      color: var(--settingspage-description-clr);
    }
  }
}

////////////////////////////////////////////////////////////
////            Settings Item Value Styles              ////
////////////////////////////////////////////////////////////
.settings__item--value {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3.2rem;

  &-placeholder {
    color: var(--settingspage-description-clr) !important;

    &:hover {
      color: var(--settingspage-item-value-hover-clr) !important;
    }

    @include mix.mq('(max-width: #{calc(500 / 16)}em)') {
      max-width: 10rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & > .img {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1.2rem;
  }

  & .link-icon {
    display: grid;
    place-content: center;

    & > svg {
      fill: var(--clr-gray-3);
      width: 1.8rem;
      height: 1.8rem;
      margin-left: 1.6rem;
    }
  }

  & > input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
  }
}

//////////////////////////////////////////////////
////          Settings Modal Styles          /////
//////////////////////////////////////////////////
.modal--trigger {
  width: 100%;
}

.setting__modal {
  &--title {
    font-weight: 600 !important;
  }

  &--description {
    font-size: 1.3rem !important;
    margin-top: 0 !important;
    margin-bottom: 2rem !important;
  }

  &--footer {
    margin-top: 4rem !important;
  }
}

.description {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--clr-gray-4);

  &[data-type='invalid'] {
    color: var(--clr-red-4);
  }
}

.suggestion-text-container {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .suggestion-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--clr-gray-4);

    &[data-isValid='false'] {
      color: var(--clr-red-4);
    }
  }

  .text-limit-indicator {
    align-self: flex-start;

    & > p {
      font-size: 1.2rem;
      font-weight: 400;

      & > span {
        color: var(--clr-gray-3);

        &[data-isValid='false'] {
          color: var(--clr-red-4);
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////
////          Email Settings Item Value Styles          ////
////////////////////////////////////////////////////////////
.email__setting--modal {
  &-body {
    input[type='text'] {
      font-size: 1.4rem;
      font-weight: 400;
      border-bottom: 1px solid;

      &[data-type='valid'] {
        border-color: var(--clr-gray-1);
      }
      &[data-type='invalid'] {
        border-color: var(--clr-red-4);
      }
    }
  }
}

////////////////////////////////////////////////////////////
////          Profile Settings Modal Styles             ////
////////////////////////////////////////////////////////////
.profile__setting--modal-body {
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;

  .profile__avatar {
    margin-bottom: 2rem;

    & > span {
      font-size: 1.4rem;
      font-weight: 500;
    }

    .wrapper {
      display: flex;
      gap: 1.2rem;
      align-items: center;
      margin-top: 1rem;

      .avatar {
        position: relative;
        min-width: 8rem;
        width: 8rem;
        height: 8rem;
        overflow: hidden;
        border-radius: 50%;
        // border: 1px solid ${({ theme }) => theme.border.color};
      }

      .avatar-action-container {
        .action-buttons {
          display: flex;
          align-items: center;
          gap: 2rem;

          #update__button,
          #remove__button {
            cursor: pointer;
            font-size: 1.3rem;
            font-weight: 500;
          }

          #update__button {
            color: var(--clr-green-4);
          }
          #remove__button {
            color: var(--clr-red-4);
          }
        }
      }
    }
  }

  .name__container,
  .bio__container {
    .input-container {
      border-bottom: 1px solid var(--clr-gray-5);

      &[data-isValid='false'] {
        border-color: var(--clr-red-4);
      }

      & > label {
        font-size: 1.3rem;
      }
      & > input {
        font-size: 1.4rem;
        padding: 0.4rem 0;
        width: 100%;
      }
    }
  }
}
